{% extends 'layout.html' %}
{% block content %}
<div class="right_main">
    <div style="display:flex; justify-content: center; align-items: center; font-size: 30px;">
        <p id="Ostatnio" style=" margin: auto; margin-top: 10px ;margin-bottom: 2px; min-width: 95% text-align: justify;">Ilość ofert z ostatnio({{last_date}}) zebranych danych: {{count_all}}.Te dane zostały zebrane ze strony: <a style="color:#0077aa;" href="{{site_link}}" target="_blank">{{site_title}}</a>.</p> 
    </div>
    <hr></hr>

    {% block today_content %}{% endblock %}
    
    <hr></hr>
    <div style="display:flex; justify-content: center; align-items: center; font-size: 30px;">
        <p id="Historyczne" style="margin: 10px;">Historycznie zebrane dane</p>
    </div>
    <hr></hr>
    {% block historic_content %}{% endblock %}

</div>
{% endblock %}