<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div class="menu">
    <div class="top_info" style="height:110px">
        <h1 style="text-align:center; padding:15px;">{% block secondtitle %}{% endblock %}</h1>
    </div>
    <hr>
    <div class="mid_menu">
        <h2 style="color: rgb(110, 110, 110);">menu</h2>
        <a href="{{ url_for('render_glowna')}}" class="menu_elem"><i class="ion-home"></i> Główna</a>
        {% if title == "Strona Główna" %}<a style="color: yellow; float: right;">Here!</a>{% endif %}
        <hr>
        <a class="menu_elem"><i class="ion-android-settings"></i> Dane ze stronek</a>
        <ul id="data-sources" class="open">
            <li><a href="{{ url_for('render_itpracujpl')}}" class="menu_elem">Dane z it.pracuj.pl</a>
            {% if title == "Dane z itpracujpl" %}<a style="color: yellow; float: right;">Here!</a>{% endif %}</li>
            <li><a href="{{ url_for('render_indeed')}}" class="menu_elem">Dane z indeed</a>
            {% if title == "Dane z pl.indeed.com" %}<a style="color: yellow; float: right;">Here!</a>{% endif %}</li>
            <li><a href="{{ url_for('render_nofluffjobs')}}" class="menu_elem">Dane z nofluffjobs</a>
            {% if title == "Dane z nofluffjobs" %}<a style="color: yellow; float: right;">Here!</a>{% endif %}</li>
        </ul>
        <hr>
        <!--<a href="{{ url_for('display_other_projects')}}" class="menu_elem"><i class="ion-folder"></i> Inne Projekty</a>-->
        {% if title == "Strona Projekty" %}<!--<a style="color: yellow; float: right;">Here!</a>-->{% endif %}
        <!--<hr>-->
        <a href="{{ url_for('render_about')}}" class="menu_elem"><i class="ion-ios-information"></i> About</a>
        {% if title == "Strona About" %}<a style="color: yellow; float: right;">Here!</a>{% endif %}
        <hr>
        <a href="{{ url_for('render_kontakt')}}" class="menu_elem"><i class="ion-android-mail"></i> Kontakt</a>
        {% if title == "Strona Kontakt" %}<a style="color: yellow; float: right;">Here!</a>{% endif %}
        <hr>
    </div>
    <div class="lower_menu">
        {% block lower_menu %}{% endblock %}
    </div>
</div>
<div class="content">
    {% block content %}{% endblock %}
    <script>
        // Funkcja obsługująca przewijanie do elementu z efektem płynnego przewijania
        function scrollToElement(elementId) {
            var element = document.getElementById(elementId);
            if (element) {
                element.scrollIntoView({ behavior: "smooth" });
            }
        }

        // Przypisz obsługę kliknięć do rodzica linków (menu)
        document.getElementById("menu").addEventListener("click", function (e) {
            e.preventDefault();
            if (e.target.tagName === "A") {
                var targetId = e.target.getAttribute("href").substring(1); // Usuń "#" z href
                scrollToElement(targetId);
            }
        });
    </script>
</div>
</body>
</html>